.wrapper {
    width: auto;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.week {
    margin-right: 5px;
    height: 87.5px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: all;
    text-decoration: none;
}

.btn-sober {
    text-align: center !important;
    color: #fff;
    background-color: #238636;
    border-color: #2ea043;
}

.btn-sober:hover {
    background-color: #2ea043;
}

.btn-drunk {
    text-align: center !important;
    background-color: var(--btn-drunk-bg, #fafbfc);
    border-color:  var(--btn-drunk-bc, #d9dadc);
    color: #f85149;
}

.btn-drunk:hover {
    background-color: #f85149;
    border-color: #f85149;
    color: white;
}

.theme-switch:checked + main {
    --text: #c9d1d9;
    --bg: #0d1117;
    --btn-drunk-bg: #21262d;
    --btn-drunk-bc: #30363d;
  }  

.bubble {
    pointer-events: none;
    white-space: nowrap;
    padding: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    background: rgba(0,0,0,.8);
    border-radius: 6px;
    box-sizing: border-box;
}

.floating {
    position: absolute;
    z-index: 99999;
}
