<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="/">
    <img
      width="150"
      alt="venting"
      src="/assets/imgs/venting-logo.png"
    />
  </a>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>We all need some time to ourselves.</span>
  </div>

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container">
    <a class="card" rel="noopener" href="/forNoOne">
      <span>For No One</span>
    </a>

    <a class="card" rel="noopener" href="/daysWithoutAlcohol">
      <span>Days Without Alcohol</span>
    </a>

  </div>

  <!-- Links -->
  <div class="card-container">

    <a
      class="circle-link"
      title="Visit venting on GitHub"
      href="https://github.com/Garz4/venting"
      target="_blank"
      rel="noopener"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="26"
        width="26"
        viewBox="0 0 16 16"
        version="1.1"
        aria-hidden="true"
      >
        <title>Github Logo</title>
        <path
          fill-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
        >
        </path>
      </svg>
    </a>

  </div>

  <!-- Footer -->
  <footer>
      Love venting?&nbsp;
      <a
        href="https://github.com/Garz4/venting"
        target="_blank"
        rel="noopener"
      >Give our repo a star.
        <div class="github-star-badge">
          <svg
            class="material-icons"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
            />
          </svg>
          Star
        </div>
      </a>
  </footer>
</div>

<router-outlet></router-outlet>
